<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat-Da-Burger!</title>
	</head>
	<body>
		<div class="container-fluid">
			<div class="jumbotron bg-primary text-white">
				<div class="container">
					<div class="row">
						<div class="col-md-5">
							<h1 class="display-4">Eat-Da-Burger!</h1>
							<p class="lead">Track your burger bucket list</p>
							<img id="burgerImage" src="/assets/images/burger.gif" alt="burger">
						</div>

						<div class="col-md-7">
							<div class="container well">
								<div class="row">
									<div class="col">
										<form class="form-inline text-dark">
											<label>Add a New Burger</label>

											<div class="form-group">
												<input class="align-baseline" type="text" id="burgerName" maxlength="50" placeholder="Burger name">
											</div>   

											<button id="addBurger" class="btn-sm btn-primary" type="submit">Save</button>
										</form>
									</div>
								</div>
								
								<div class="row">
									{{{ body }}}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/burger.js"></script>
	</body>
</html>
