  <div class="col-md">
    
    <table class="table table-hover bg-white">
      <thead>
        <tr>
          <th scope="col">
            <h4 class="display-5">Burgers to Try</h4>
          </th>
        </tr>
      </thead>
      <tbody>

        {{#each burgers}}
          {{#unless devoured}}
            {{> burgers/burger-block devoured=false}}
          {{/unless}}
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="col-md">
    
    <table class="table table-hover bg-white">
      <thead>
        <tr>
          <th scope="col align-baseline">
              <h4 class="d-inline">Devoured Burgers!</h3>
              <button id="clear" type="button" class="btn btn-link align-middle">Clear</button>
        </th>
        </tr>
      </thead>
      <tbody>
        {{#each burgers}}
          {{#if devoured}}
            {{> burgers/burger-block devoured=true}}
          {{/if}}
        {{/each}}
      </tbody>
    </ul>
  </div>